/* Our text field when sending an email */
textarea {
    min-height: 250px;
    max-height: 500px;
}

/* Light design for our container */
.container{
  background-color: rgb(243,242,241);
  height: auto;
  font-family: 'Halvetica', sans-serif;
}

.container .mail:hover{
  background-color: black;
}

/* Centers all the forms horizontally and vertically */
.forms{
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    padding: 45px;
    background-color: white;
}


#submit_button{
    margin-top: 10px;
}

#logout_button{
  float:right;
  color: whitesmoke;
}
/* Montreal logo design */
#mail_logo{
  margin: 20px;
  font-family: 'Satisfy', cursive;
  color:rgb(0,120,212);
}

.btn:hover{
  background-color: rgba(0,90,158,255) !important;
}

.btn-sm{
    background-color: rgb(0,120,212) !important;
}

.btn-primary{
  background-color: rgb(0,120,212) !important;
}

button{
  border: none !important;
  background-color: rgb(0,120,212);
  margin: 5px;
  color: whitesmoke !important;
}

#email-view{
  background-color: white;
}

#user_logged{
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

body{
  background-color: whitesmoke;
}



.iconz{
  display: none;
}

.fas{
  color:whitesmoke;
}

@media only screen and (max-width: 545px) {
  /* For tablets: */

  p{
    display: none;
  }
  
.iconz{
  display: block;
  padding:5px;
}
#normal_view{
visibility: hidden;
}

#personalized{
  position: fixed;
  height: 5vh;
  width: 100vw;
  bottom: 10px;
  text-align: center;


}
#personalized i{
  font-size:2.3rem;
  color: rgb(0,120,212);
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
}

#submit_button{
    margin: 0 auto;
  display: block;
}


#menu{
  display: block;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}


#signout{
  display: inline-block;
  top: 8px;
  right: 16px;
  position: absolute;
  background-color: rgb(0,120,212);
  padding: 5px;
  border-radius: 10px;
    color: whitesmoke;
  

}

#signoutBtn{
    color: whitesmoke;
}

}

#submit_button2{
  visibility: hidden;
  background-color: aquamarine !important;
}