{% extends "mail/layout.html" %}

{% block body %}

<div class="forms">
    <h2>Register</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}

        <div class="form-group">
            <input class="form-control" required type="email" name="email" placeholder="Email Address" oninvalid="this.setCustomValidity('Please enter your email!')">
        </div>
        <div class="form-group">
            <input class="form-control" required type="password" name="password" placeholder="Password" oninvalid="this.setCustomValidity('Please enter your password!')">
        </div>
        <div class="form-group">
            <input class="form-control" required type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <input class="btn btn-primary" type="submit" value="Register">
    </form>

    Already have an account? <a href="{% url 'login' %}">Log In here.</a>
</div>
<script>$(document).ready(function() {
$('.mdb-select').materialSelect();
});
</script>
{% endblock %}